:root{
    --accent-color: #2ad5dc;
}

body {
    /* background-image: url("./assets/images/bg.jpg") !important; */

    height: 100%;
    width: 100%;

    background-position: center;
    background-size: cover;
}